__pycache__
**/__pycache__
datasets/decomp/*
datasets/raw/*

generative_models/taming-transformers/logs/*
generative_models/taming-transformers/taming_transformers.egg-info
generative_models/taming-transformers/datasets

.ipynb_checkpoints/

generative_models/stylegan-xl/data
generative_models/stylegan-xl/training-runs
generative_models/stylegan-xl/training-runs/*
generative_models/stylegan-xl/out/*
generative_models/stylegan-xl/sample_sheets/*

*.swp
*.pth
*.pt
*.npz
*.tar
*.gz
*.pkl
*.mp4
*.pyc
*.zip